# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (future-proof)
node_modules/

# Foundry runtime (never commit)
Data/
worlds/
systems/
modules/

# Foundry LevelDB transient lock files
packs/*/LOCK
packs/*/LOCK.*
packs/sinlesscsb-macros/LOCK

dist/

dist-snapshot/

# Logs
*.log
