.active-effects-sheet {
  display: grid;
  gap: 0.313rem;
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  grid-template-areas:
    "header"
    "tabs"
    "tab-content"
    "footer";
  height: 100%;

  .sheet-header {
    grid-area: header;
  }

  .tabs {
    grid-area: tabs;
  }

  .tab {
    grid-area: tab-content;
  }

  .sheet-footer {
    grid-area: footer;
  }
}

.summary-effect-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary-effect-value {
  align-self: center;
}

.value,
.mode,
.situational,
.on-by-default {
  text-align: center;
}
