/* ------------------------------------- */

/* Glitch
/* ------------------------------------- */

@define-mixin glitch {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  &::before {
    left: 0.125rem;
    text-shadow: -0.125rem 0 var(--cpr-pause-highlight1);
    clip-path: rect(1.5rem, 34.375rem, 5.625rem, 0);
    animation: glitch-anim-2 7s infinite linear alternate-reverse;
  }

  &::after {
    left: -0.125rem;
    text-shadow: -0.125rem 0 var(--cpr-pause-highlight2);
    clip-path: rect(80.313rem, 34.375rem, 8.75rem, 0);
    animation: glitch-anim 6.5s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  0% {
    clip-path: rect(60.313rem, 624.938rem, 3.188rem, 0);
  }

  10% {
    clip-path: rect(10.375rem, 624.938rem, 3.188rem, 0);
  }

  20% {
    clip-path: rect(0.375rem, 624.938rem, 8.5rem, 0);
  }

  30% {
    clip-path: rect(3.063rem, 624.938rem, 4.25rem, 0);
  }

  40% {
    clip-path: rect(2.313rem, 624.938rem, 7.5rem, 0);
  }

  50% {
    clip-path: rect(7.688rem, 624.938rem, 4.063rem, 0);
  }

  60% {
    clip-path: rect(50.5rem, 624.938rem, 9rem, 0);
  }

  70% {
    clip-path: rect(0.688rem, 624.938rem, 1rem, 0);
  }

  80% {
    clip-path: rect(10.375rem, 624.938rem, 4.188rem, 0);
  }

  90% {
    clip-path: rect(2.438rem, 624.938rem, 4.813rem, 0);
  }

  100% {
    clip-path: rect(2.438rem, 624.938rem, 3.313rem, 0);
  }
}

@keyframes glitch-anim-2 {
  20% {
    clip-path: rect(6.688rem, 624.938rem, 4.688rem, 0);
  }

  30% {
    clip-path: rect(0.5rem, 624.938rem, 0.188rem, 0);
  }

  40% {
    clip-path: rect(70.5rem, 624.938rem, 8.938rem, 0);
  }

  50% {
    clip-path: rect(140.375rem, 624.938rem, 7.5rem, 0);
  }

  60% {
    clip-path: rect(4.938rem, 624.938rem, 6.875rem, 0);
  }

  70% {
    clip-path: rect(0.625rem, 624.938rem, 2.063rem, 0);
  }

  80% {
    clip-path: rect(80.313rem, 624.938rem, 0.563rem, 0);
  }

  90% {
    clip-path: rect(8.75rem, 624.938rem, 1.438rem, 0);
  }

  100% {
    clip-path: rect(0.313rem, 624.938rem, 6.875rem, 0);
  }
}
